body {
    display: flex;
    justify-content: center;

    h1 {
        margin: 3rem 0 2rem 0;
    }

    .title-and-spinner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 5rem;
        height: 5rem;

        font-size: 1.2rem;
        border-radius: 0.8rem;
        border: 2px solid rgb(199, 35, 35);
        background: black;
        color: white;

        animation: slide 99999999995s infinite;

        @keyframes slide {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(9999999999999deg);
            }
        }
    }
}

ul {
    max-width: 65rem;
    width: 100%;

    list-style: none;

    li {
        border-radius: 1.5rem;
        border: 2px solid rgb(199, 35, 35);
        margin-bottom: 2rem;
        padding: 1rem;

        h2 {
            margin-bottom: 1rem;
        }
    }

}